:root {
    --black: #222318;
    --white: #FAFCF7;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    color: var(--white);
    background-color: #1a1a1a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23272a2b' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

a,
a:focus,
a:hover {
    color: #fff;
}

.masthead {
    margin-bottom: 2rem;
}
  
.masthead-brand {
    margin-bottom: 0;
}
  
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}
  
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}
  
.nav-masthead .nav-item + .nav-item {
    margin-left: 1rem;
}
  
.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
  
@media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }

    .nav-masthead {
      float: right;
    }
}

.mastfoot,
.mastfoot a,
.mastfoot a:focus,
.mastfoot a:hover {
    color: rgba(255, 255, 255, .5);
}

.auth-container,
#contact-container {
    width: 400px;
}

@media (max-width: 500px) {
    .auth-container {
      width: 350px;
    }
}

#social-buttons .fab {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px 2px;
}

#social-buttons .fab:hover {
    opacity: 0.7;
}

#social-buttons .fa-facebook-f {
    background: #3B5998;
    color: white;
}

#social-buttons .fa-google {
    background: #dd4b39;
    color: white;
}

.social-button-row {
    height: 115px;
    width: 100%;
}

.social-logo {
    width: 100px;
}