{% extends 'layout.j2' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Heading from route: {{ heading }}</h1>
        <p class="lead">{{ message }}</p>
    </div>
{% endblock %}